body{

    font-family:Georgia, "Times New Roman", Times, serif; 
    color: black;
    background-color: #232323;
    font-size: 13px;
    margin:0; 
    padding:0; 
}



/* Nav Bar */
.navbar, .navbar a{
    color: grey;
    background-color: #000;
}
#header nav{
    display: block;
    width:100%;
    margin: 0;
    padding: 20px 0;
    border-bottom:1px solid red;
}
#header nav li{
    display: inline;
    margin-right: 28px;
    text-transform: uppercase;
    line-height: 50px;
    font-size: 20px;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
#header nav li a:hover{
    color: red;
}
a{
    text-decoration:none;
    outline: none;
}
#header #container{
    display: block;
    width: 960px;
    margin: 0 auto;
}





/* Logo */

#header #logo{
    float: left;
    font-size: 20px 0;
}
#logo h1{
    font-size: 40px;
    color: grey;
    padding-top: 10px;
    margin: 0;
    letter-spacing: 2px;
}
#logo h2{
    font-size: 13px;
    margin: 0;
    padding: 0;
    color: white;
}
#header #logo h1, #header h2{
    font-weight: normal;
    text-transform: none;
}

/* MainBody*/
#container #watt figure img{
    float: left;
    width: 630px;
    height: 300px;
}
/* Black Box */
#container #watt figure figcaption{
    float: right;
    width: 250px;
    height: 250px;
    padding: 20px;
    color: #989898;
    background-color: #000;
    line-height:1.8em;
}   
.smallnews, .bignews{
    display: block;
    float: left;
    margin: 0 30px 0 0;
}
.smallnews{
    width: 300px;
}
.bignews{
    width: 630px;
}
.boxes{
    display:block;
    clear:both;
}
#container{
    padding: 30px 0;
}
#container section{
    display: block;
    width: 100%;
    margin: 0 0 30px 0;
    padding: 0;
}
#container #mainbody{
    display: block;
    width: 100%;
    line-height: 1.6em;
}
#container #mainbody .smallarticles{
    margin: 0;
    font-size: 12px;   
}
#container #mainbody .smallarticles article h2{
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}
#container #mainbody .smallarticles article img{
    float: left;
    padding: 4px;
    border: 1px solid white;
}
/* temp */
#container .boxes{
    /* display: block; */
    /* width: 1200px; */
    /* margin: 0 auto; */
}
#container #mainbody .smallarticles article p{
    display: block;
    float: right;
    width: 200px;
    margin: 0;
    padding: 0;
    color: white;
}

/* right side of website */
.lastbox{
    margin-right: 0;
}

/* Footer*/
#footer{
    padding:20px 0;
}
#footer p{
    margin:0;
    padding:0;
}







/* Headings */
h1, h2{
    margin:0;
    padding:0; 
    font-size:20px;
    font-weight:normal;
    font-style:normal;
    line-height:normal;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    
}













