body{

    font-family:Georgia, "Times New Roman", Times, serif; 
    color: black;
    background-color: #232323;
    font-size: 13px;
    margin:0; 
    padding:0; 
}



/* Nav Bar */
.navbar, .navbar a{
    color: grey;
    background-color: black;
}
#header nav{
    width:100%;
    padding: 1.2500em 0;
    border-bottom:1px solid red;
}
#header nav li{
    display: inline;
    margin-right: 1.5625em;
    text-transform: uppercase;
    line-height: 50px;
    font-size: 20px;
}
nav ul{
    margin: 0;
    padding: 0;
}
#header nav li a:hover{
    color: red;
}
a{
    text-decoration:none;
}
#header{
    width: 900px;
    margin: auto;
}
#header #logo h1, #header h2{
    font-weight: normal;
}




/* Logo */
#logo #header{
    float: left;
    font-size: 20px;
}
#logo h1{
    font-size: 40px;
    color: grey;
    padding-top: 10px;
    margin: 0;
    letter-spacing: 2px;
}
#logo h2{
    font-size: 13px;
    margin: 0;
    padding: 0;
    color: white;
}

/* MainBody*/
#watt figure img{
    float: left;
    width: 600px;
    height: 300px;
}












